[2018-10-25 08:43] dkarlovi opened #10 "Add Rector"
https://github.com/rectorphp/rector

[2018-10-30 10:38] dkarlovi opened #12 "[DX] Tools curation"
Moved from https://github.com/jakzal/phpqa/issues/92

Since the added value with this image is the selection and discovery of actually valuable PHP related QA and similar tools (which you might not know about), it might make sense to make that more prominent.

1. For example, there are tools which don't seem to work:
[code]
2. There are also tools which were added, but in the meantime a better can

[2018-10-30 10:38] dkarlovi opened #13 "Place all the tools provided by the image in a common root, example /tools"
See https://github.com/jakzal/phpqa/issues/91.

[2018-10-30 10:39] dkarlovi opened #14 "Add Roave/BackwardCompatibilityCheck"
See https://github.com/jakzal/phpqa/issues/86

Note:

[2018-10-30 15:20] jakzal opened #15 "Install phpspec with composer instead of using phar"
https://github.com/phpspec/phpspec/issues/1228

[2018-12-31 14:54] jakzal opened #21 "Enable php-cs-fixer on PHP 7.3 once the tool supports it"
re https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/3697

* remove `PHP_CS_FIXER_IGNORE_ENV=1` from the Makefile
* remove the `exclude-php:7.3` tag from php-cs-fixer, php-coupling-detector, easycodingstandard, php-formatter

[2018-12-31 17:13] jakzal commented on #13
This is implemented since we now have the `--target-dir` option (#9).

[2018-12-31 17:13] #13 closed

[2018-12-31 17:14] jakzal opened #24 "Consider distributing resources/*.json separately to the phar"
Benefits:
* different release cycle of tools definitions and the phar

Drawbacks:
* different release cycle of tools definitions and the phar

[2019-01-02 11:35] jakzal opened #26 "Split tools.json into smaller groups of tools"
In order to make maintenance easier, `tools.json` should be split into smaller files according to tools the type. Some tools that we provide plugins for  (like phpstan) could possibly get its own file.

[2019-01-02 11:36] jakzal opened #27 "Tag all the tools"
1. Come up with a list of tags we'd like to introduce (share suggestions in comments).
2. Tag the tools.

[2019-01-02 12:01] jakzal commented on #12
I'm pleased to announce [Toolbox v1.0.0 was just released](https://github.com/jakzal/toolbox/releases/tag/v1.0.0). It provides some of the above wish list items.

[2019-01-02 12:15] dkarlovi commented on #12
@jakzal I saw the release. :1st_place_medal: \o/

About the remaining ones, I agree with your [point](https://github.com/jakzal/phpqa/issues/92#issuecomment-415783593):

but still probably best to introduce that first step, even to just see the use cases more clearly. Maybe the auto-enable part could be driven by [Rector](https://github.com/rectorphp/rector) (which we planned to add anyway)?

I st

[2019-01-02 12:54] jakzal commented on #12
I'm more worried about maintenance both these steps will bring rather than the amount of work these features will introduce ;)

It's just a matter of tagging tools, and then excluding broken ones from installation.

If we decide to remove a tool, I would also suggest using a tag, so the tool would remain on the list for historical reasons, but would not be installed.

[2019-01-02 13:15] dkarlovi commented on #12
I view it as "inline documentation", as in "what's the least amount of information required to use a tool?"

Example: if you want to enable PHPStan's extension, use `$snippet`, all other info is available upstream.

Maybe auto-management is a bit too much for now.

Agreed.

Agreed here too. :+1:

[2019-01-02 13:26] jakzal opened #28 "Generate an html site with the tool listing"
Once this is done, a GitHub page could be set up and automatically published from Travis.

[2019-01-02 13:47] kkreft commented on #27
Some tags proposals:
1. architecture
2. behat
3. benchmarking
4. composer
5. design-patterns
6. formatting
7. phar
8. refactoring
9. security
10. static-analysis
11. testing
12. phpstan
13. phpunit

[2019-01-03 10:55] jakzal commented on #28
https://jakzal.github.io/toolbox/

[2019-01-03 11:36] jakzal commented on #27
One other tag I'd like to suggest is "featured", which would include tools which we think are definitely worth checking out. These tools will need to be actively maintained and stable.

I'm only not sure about the name for this tag.

[2019-01-03 11:40] #28 closed

[2019-01-03 12:09] kkreft commented on #27
It's not so bad, what other options do we have?

* awarded
* promising
* suggested

None of those sound more convincingly. IMO

[2019-01-03 13:23] jakzal commented on #27
I'll start with featured: https://github.com/jakzal/toolbox/pull/30

[2019-01-03 13:52] dkarlovi commented on #28
Cool. :+1:

As tools and tags get added, probably a cool idea to allow clicking on them to filter, should be a super-simple UI tweak. Steam (the gaming platform) has a similar interface for your wishlist (when you're logged in).

[2019-01-03 13:56] jakzal commented on #28
@dkarlovi was thinking about it, but didn't have enough determination to go for it ;)

[2019-01-03 14:19] dkarlovi commented on #28
Overkill right now, but something to keep in mind for the future if the list grows significantly.

[2019-01-07 15:52] #21 closed

[2019-01-08 21:49] ro0NL opened #32 "Add Symfony PHPUnit bridge tool"
what about adding `simple-phpunit`?

https://github.com/symfony/phpunit-bridge/tree/master/bin

[2019-01-08 22:41] jakzal commented on #32
Not sure how this could work. The bridge is meant to be included in project's dependencies. It takes care of preventing depdendency clashes etc. I'm not even sure if it was meant to be used standalone.

[2019-01-09 07:40] ro0NL commented on #32
I think that's a feature, not a requirement.

I just tried it as follow;

The current workding dir is `/app/src/Domain` which is a public composer package, *without* a dependency on symfony/phpunit-bridge

I've installed symfony/phpunit-bridge _standalone_ in `/app/var/tmp/composer.json`

[code]

Running it

[code]

All good :)

[2019-01-09 09:15] jakzal commented on #32
Sounds good then :) There's few features, like deprecation reports, that are worth having. 👍

[2019-01-09 15:45] dbpolito opened #33 "Paratest"
Heya, great work on this one. :heart:

Have you heard of https://github.com/paratestphp/paratest ? Might be a good tool to add to your list.

:+1:

[2019-01-14 16:00] jakzal commented on #32
It doesn't seem to work when I try to use it on a docker image. I'm getting the following error:

```Fatal error: Declaration of Symfony\Bridge\PhpUnit\Legacy\SymfonyTestsListenerForV7::addError(PHPUnit\Framework\Test $test, Throwable $t, float $time): void must be compatible with PHPUnit\Framework\TestListener::addError(PHPUnit\Framework\Test $test, Exception $e, $time) in /tools/.composer/vendor

[2019-01-14 16:11] ro0NL commented on #32
looks related to phpunit6 vs. php7, maybe we need to wait for a release https://github.com/symfony/symfony/pull/29439.

Then again i didnt expect the current stable to be broken.. (https://github.com/symfony/symfony/blob/v4.2.2/src/Symfony/Bridge/PhpUnit/SymfonyTestsListener.php#L16)

ill try to build locally ASAP, to figure out what's going on. Perhaps @greg0ire knows...

[2019-01-14 16:12] ro0NL commented on #32
@jakzal for now running e.g. `SYMFONY_PHPUNIT_VERSION=7.5 simple-phpunit` does work, right?

[2019-01-14 16:15] jakzal commented on #32
Yes, but it triggers installation.

[2019-01-14 16:21] ro0NL commented on #32
we install phpunit 6 by default still (https://travis-ci.com/jakzal/toolbox/jobs/170134793#L803). So that's intended, as you didnt have phpunit 7.5 yet.

im guessing there's some sort of autoloading conflict with the native phpunit binary, which is v7 already.

[2019-01-14 16:24] jakzal commented on #32
shouldn't be the case as we use the composer-bin-plugin, which intends to isolate dependencies :)

[2019-01-14 16:32] jakzal commented on #32
I think it makes sense to wait for https://github.com/symfony/symfony/pull/29439

[2019-01-14 16:50] ro0NL commented on #32
was my guess also :) but im curious what happens at this point.. so 'll build the toolbox locally ASAP and follow the path.

think so :) yet it's only about new defaults for SYMFONY_PHPUNIT_VERSION, which you can provide manually today already. But the experience is not OK at the moment for sure :)

[2019-01-14 17:24] ro0NL commented on #32
reproduced locally also (php7.1), we definitely go from `/var/www/.composer/vendor-bin/symfony/vendor/bin/.phpunit/phpunit-6.5/src` to `/app/vendor/phpunit/phpunit/src` somehow..

[code]

still on it :)

[2019-01-14 17:43] ro0NL commented on #32
@jakzal It's related to phpunit also being a dependency in the **current** project. I think we're hitting https://github.com/symfony/symfony/issues/27289#issuecomment-395312009 actually

so the conflict seems expected, and in such case the real phpunit should be used ([ref](https://github.com/symfony/symfony/issues/27289#issuecomment-399668584)). I can confirm it works "as expected" then...

_(giv

[2019-01-14 17:51] jakzal commented on #32
Thanks for getting into the bottom of this. I'm not exactly sure how phpunit bridge can be useful while it's installed this way, but let's give it a try 👍

[2019-01-14 17:51] #32 closed

[2019-01-14 18:03] ro0NL commented on #32
the incompatibility with project dependencies definitely can hurt, but in this case you should either require phpunit/phpunit OR sf/phpunit-bridge. Having both in your project is pointless.

same for global vs. local phpunit, your project should rely on only approach.

For example i have a monolith repo which holds N composer packages. I removed the simple-phpunit dependency from all of its packag

[2019-01-14 23:35] jakzal commented on #32
The latest tag of phpqa now also offers simple-phpunit: https://hub.docker.com/r/jakzal/phpqa/builds

Thanks @ro0NL!

[2019-01-16 12:01] dkarlovi opened #38 "Add localheinz's PHPStan rules"
https://github.com/localheinz/phpstan-rules

[2019-01-16 23:11] jakzal commented on #38
I'd be careful with adding too many extensions. Currently the build is failing due to one of them: https://travis-ci.com/jakzal/toolbox/jobs/170814684#L959

I think it's best if we support well maintained (preferably official) extensions only, and let people install additional ones in their own images.

<img width="851" alt="image" src="https://user-images.githubusercontent.com/190447/51284571-d69

[2019-01-16 23:15] jakzal commented on #38
So the question is, is this an extension worth supporting?

[2019-01-17 00:11] jakzal opened #40 "Re-enable pepakriz/phpstan-exception-rules once it supports latest phpstan"
https://github.com/pepakriz/phpstan-exception-rules/issues/51

[2019-01-17 07:43] dkarlovi commented on #38
Maybe we can figure out a way to separate officially supported from unofficial? Separate namespace and `unofficial` tags?

The way I see it, having these extensions for PHPStan (and later Psalm, etc) will bring significant additional value to the project since they'll be a valuable part of the toolbox. I see value in having a workflow ready which expects for them to trail for a bit behind the offi

[2019-01-31 19:01] #40 closed

[2019-02-07 09:33] dkarlovi opened #48 "Add Composer normalizer"
https://github.com/localheinz/composer-normalize

[2019-02-27 15:04] #14 closed

[2019-03-06 13:49] #10 closed

[2019-03-06 15:09] #33 closed

[2019-03-07 09:37] #48 closed

[2019-03-07 09:46] #38 closed

[2019-04-01 09:22] jakzal opened #77 "Switch dephpend back to phar.dephpend.com/dephpend.phar"
Re #76.

As soon as the website comes back: https://github.com/mihaeu/dephpend/issues/40

[2019-04-11 04:41] jakzal opened #80 "Change the way phpda is installed"
Phar is no longer published https://github.com/mamuz/PhpDependencyAnalysis

[2019-04-11 15:34] #80 closed

[2019-05-05 20:55] nunofernandes opened #92 "Error installing php-semver-checker"
When trying `toolbox install` I get the following error:

[code]

The problem seems to be related to unavailability of http://psvc.coreteks.org where php-semver-checker.phar is fetched. Trying to get it manually I get the following error:

[code]

It appears that the problem that happened to pdepend also hit php-semver-checker (but this doesn't even dns resolve).

[2019-05-07 08:27] jakzal commented on #92
It seems to be back.

Re https://github.com/tomzx/php-semver-checker/issues/104

[2019-05-07 08:39] nunofernandes commented on #92
Yep.. I confirm it :+1:

[2019-05-07 08:39] #92 closed

[2019-05-14 12:20] Pierstoval opened #102 "Add nunomaduro/phpinsights"
Link: https://github.com/nunomaduro/phpinsights

It was released a few hours ago, I just discovered it and it seems really promising, so to ensure easier testing and integration, I think it could be integrated to this phpqa tool 😄

[2019-05-21 06:56] dkarlovi opened #99 "Psalm PHPUnit plugin"
https://github.com/psalm/phpunit-psalm-plugin

[2019-05-27 06:22] dkarlovi opened #105 "Psalm Doctrine plugin"
https://github.com/weirdan/doctrine-psalm-plugin

This one is not official, but it seems [endorsed](https://medium.com/vimeo-engineering-blog/announcing-psalm-v3-76ec78e312ce) by @muglug.

[2019-05-29 22:15] #102 closed

[2019-06-16 04:51] ro0NL commented on #99
As of PHPUnit 8 is it still needed? Asking, since psalm-annotations are built-in upstream now: https://github.com/sebastianbergmann/phpunit/blob/0d5379adebbfde18710b076acc9550eb6a328b48/src/Framework/TestCase.php#L1087-L1091

[2019-06-16 07:24] ro0NL opened #117 "Abandoned packages used"
[code]

Spotted in the build :angel:

[2019-06-16 08:45] jakzal commented on #117
Yeah, saw it.

We could drop php testability easily as it doesn't bring much value.

The phpmetrics warning is coming from another dependency though (perhaps a dev one).

[2019-06-17 06:38] dkarlovi commented on #99
@ro0NL fair point, might be worth it if you're using something which can't use > 7 (BC breaks, IIRC).

[2019-06-17 06:47] ro0NL commented on #99
long-term i think the ecosystem is better of withh built-in (psalm) types upstream; not having more plugins :sweat_smile: Though agree this might be needed meanwhile.

Same for #105 , i believe @Ocramius is a on a mission a add types to Doctrine upstream, but im not sure it'll target 2.x.

[2019-06-17 06:52] dkarlovi commented on #99
Yes, but again, the plugin is available now to current codebases, no reason not to include it. It's easy enough to remove both of them later when they're no longer needed (and probably not maintained).

[2019-07-01 10:54] #117 closed

[2019-07-29 10:29] ylebret opened #131 "toolbox install behind a proxy"
Hi,

I'm trying to build a custom phpqa docker image on a server behind a proxy but the command `php toolbox install` (I think but maybe I'm mistaken) fail with the following error :

Error: file_get_contents(https://box-project.github.io/box2/manifest.json): failed to open stream: Connection timed out

I bypassed the error by adding a php script with a stream context, and loaded the script with a

[2019-07-29 11:56] jakzal commented on #131
Have you tried exporting env variables? `HTTP_PROXY` and/or `HTTPS_PROXY`?

[2019-08-02 07:15] ylebret commented on #131
Hi,

Yes, via the build-arg option of the doccker command, and it is working as intended but it seems the file_get_contents function doesn't use them.

Regards,
Yannick

[2019-08-02 08:04] jakzal commented on #131
Quick test locally confirms environment these variables are picked up by toolbox:

[code]

How does your docker file look like?

[2019-09-11 07:45] dkarlovi opened #143 "Add support to strip (minimize in size) the install dir"
When pushing into a Docker image, you want the final installed size to be minimal.

We could, for example, add a flag `--strip` which would, after finishing installation, remove:
- `.git` folders
- `test/`, `tests/` etc
- `doc/`

We could even inspect `.gitattributes` file and remove files suppressed for addition if we're pulling a git repo.

[2019-09-11 13:37] jakzal commented on #143
Nice idea 👍

[2019-12-12 21:28] jakzal opened #168 "Drop localheinz/phpstan-rules"
The package has been abandoned.

[2019-12-13 07:55] #168 closed

[2019-12-13 18:55] jakzal opened #170 "Enable back packages disabled on PHP 7.4"
As part of #157 some packages had to be disabled:

- [x] phpmd
- [x] pdepend

[2019-12-27 17:38] jdreesen opened #330 "Add PHP-Fuzzer"
@nikic created a fuzzing tool for PHP code: https://github.com/nikic/PHP-Fuzzer

The project is still very young, but maybe it could be added at some time.

[2019-12-31 16:01] hussainweb commented on #170
I am not sure what was the error you faced with phpmd; however, there is a [new release of phpmd](https://github.com/phpmd/phpmd/releases/tag/2.8.1) and this might have fixed the problems. Do you mind checking or give me instructions so that I could check sometime soon?

[2019-12-31 18:04] jakzal commented on #170
Thanks for the tip!

[2019-12-31 18:13] jakzal commented on #170
Both phpmd and pdepend are now available on PHP 7.4.

[2019-12-31 18:13] #170 closed

[2020-01-02 09:23] neradp opened #179 "Update Box to Box 3"
Can you update Box to https://github.com/humbug/box. Installer is available at https://github.com/KEINOS/Phar_Box3_installer

[2020-01-03 10:52] jakzal commented on #179
see #86

[2020-01-04 14:13] jakzal opened #180 "Replace localheinz/composer-normalize with ergebnis/composer-normalize"
[code]

[2020-01-04 15:18] #180 closed

[2020-01-04 15:36] jakzal commented on #179
All of the tools that are installed with box use the legacy version so I had to keep it under the name of `box-legacy`. The `box` command now points to the latest maintained version.

[2020-01-04 15:36] #179 closed

[2020-01-04 15:37] jakzal commented on #131
Closing due to lack of feedback. Let's look at it again if someone comes up with more details.

[2020-01-04 15:37] #131 closed

[2020-01-04 15:38] #15 closed

[2020-04-02 19:52] benjy8001 opened #208 "Bug on new phpmetrics.phar - v2.6.0"
For note purpose, this version of phpmetrics doesn't work.

See this :

- https://github.com/phpmetrics/PhpMetrics/issues/426
- https://github.com/phpmetrics/PhpMetrics/commit/42c3a848c7dad6dbcddc53ec220d236c070d5f68

[2020-04-02 19:55] benjy8001 opened #209 "Get PHPCP on PHP 7.2"
I will mad a pull request soon, but i think we can do this now, in order to get phpcdp on php 7.2 images :

[code]

[2020-04-03 09:04] jakzal commented on #208
Thanks for reporting. A fix seems to have been released. Waiting for a new phar.

[2020-04-06 13:01] jakzal commented on #208
related ticket: https://github.com/phpmetrics/PhpMetrics/issues/427

[2020-04-26 16:25] jdreesen opened #218 "Add composer-lock-diff"
What's with [composer-lock-diff](https://github.com/davidrjonas/composer-lock-diff), would this be a candidate to add to this project?

[2020-04-27 08:25] jakzal commented on #218
I don't see a reason why not :)

[2020-04-29 15:04] ostrolucky opened #220 "Scoping the tools"
I wanted to contribute scoping of one of the tools that toolbox ships because there are scoping issues when running it in one of our projects. To do this, I expected some tools would already be scoped so I can get inspiration what modifications in tools.json file I need to make. But looking into this json file, I don't see any such configuration in existing tools. Does this mean toolbox currently

[2020-05-04 11:51] jakzal commented on #220
I don't remember why ecs is currently installed with `composer-install`:

https://github.com/jakzal/toolbox/blob/93b5b6473282943d51531ec484f6fd9bbc8d769c/resources/tools.json#L116-L127

We could migrate it to `composer-bin-plugin`, where a namespace can be specified, like here:

https://github.com/jakzal/toolbox/blob/93b5b6473282943d51531ec484f6fd9bbc8d769c/resources/tools.json#L103-L115

This is

[2020-05-04 11:55] jakzal commented on #220
I see they build the phar: https://github.com/symplify/symplify/blob/953e3f49e8679f92fdfbf266d4a7a9ebd0601712/.travis.yml#L20-L45

For some reason, it's not published in github releases or anything like that, but commited to the repository instead: https://github.com/symplify/easy-coding-standard-prefixed

[2020-05-04 11:59] ostrolucky commented on #220
Indeed, we should just use https://github.com/symplify/easy-coding-standard-prefixed. However, this will definitely break some people's CI, as everything is prefixed there, including sniffs/fixers. So references to those in ecs config file will break. But yeah we should still do that and ask to stop prefixing these on their side. I don't have computer with me next couple of days, so can't contribu

[2020-05-04 12:08] jakzal commented on #220
@ostrolucky just sent a PR: https://github.com/jakzal/toolbox/pull/223

Before merging I'd love you to test it if possible. Phars can be downloaded from the build page: https://github.com/jakzal/toolbox/actions/runs/95209465

This is really not going to work as all it does it puts the tool into its own global namespace, so it doesn't conflict with other tools. It might conflict with your project t

[2020-05-04 12:14] ostrolucky commented on #220
Ah so it's not a composer thing, it doesn't change actual PSR-(0|4) namespaces? Then indeed, that's not going to cut it.

I didn't really take a peek inside it's code, but according to errors I got when I tried that package couple days ago in my existing project, that's my explanation. Feedback in comments at https://www.tomasvotruba.com/blog/2020/01/20/introducing-phar-for-easy-coding-standard/#c

[2020-05-10 13:49] #105 closed

[2020-05-10 21:15] ostrolucky commented on #220
Alright checked again and I was wrong, it doesn't prefix sniffs. My error was because config simply needs to be changed for newer sniffs.

[2020-05-11 16:05] #220 closed

[2020-05-11 21:27] jakzal opened #235 "Include the psalm Symfony plugin"
https://github.com/psalm/psalm-plugin-symfony

[2020-05-19 08:34] jakzal opened #239 "Unlock ecs as soon as a stable v8 is released"
ecs was locked to 7.3.17 to prevent installing broken releases, see #238

[2020-08-22 12:38] neradp opened #275 "Symbol "~" in created symlinks from ComposerBinCommand"
`return \sprintf(
            'ln -sf ${COMPOSER_HOME:-"~/.composer"}/vendor-bin/%s/vendor/bin/%s %s',
            $this->namespace,
            $this->source,
            $this->target
        );`

This code results at unusable symlinks.

Please replace "~" with the content of HOME variable.

[2020-09-06 15:53] neradp commented on #275
Sorry for my later response.

I cannot "execute" symbolic links that contain **~** symbol.  I need links with full path. I can define COMPOSER HOME, which corrects the link path, but it coud be done with replacing ~ symbol with the content of HOME enviroment var.

[2020-09-06 18:14] jakzal commented on #275
Which  operating system are you on?

[2020-09-06 18:46] neradp commented on #275
Iam using docker containers from Devilbox project: https://github.com/devilbox/docker-php-fpm.
They are based on some debian distro.

[2020-09-08 08:35] jakzal commented on #275
Looks like this a fair solution right now. Not sure when/if I'll get time to work on a different one soon.

[2020-09-08 08:36] jakzal commented on #275
Could you show the output of `ls -l /tools` please?

[2020-11-27 12:32] jakzal commented on #209
PHP 7.2 support was just dropped.

[2020-11-27 12:32] #209 closed

[2020-12-03 15:31] jakzal commented on #12
It's been almost two years since the last comment and not much has happened. I'm going to assume it's good the way it is now ;)

[2020-12-03 15:31] #12 closed

[2020-12-03 15:33] #24 closed

[2020-12-03 15:34] jakzal commented on #275
I'm going to close due to lack of feedback. Feel free to provide more information and we'll reopen.

[2020-12-03 15:34] #275 closed

[2020-12-09 10:16] admiral2 opened #316 "php-cs-fixer: not found"
Docker image: jakzal/phpqa:latest
Cmd line:
[code]

Output: /entrypoint.sh: 6: exec: php-cs-fixer: not found

9 november 2020 all work fine

[2020-12-09 10:27] #316 closed

[2021-01-14 09:47] dkarlovi commented on #26
This should be done sooner rather than later IMO, I keep getting conflicts on any PR which sits unmerged for a while, which is annoying.

[2021-01-15 14:20] #26 closed

[2021-01-15 14:22] jakzal commented on #77
No need anymore. github releases works fine.

[2021-01-15 14:22] #77 closed

[2021-01-22 11:18] jakzal opened #332 "Provide automated updates for all commands downloading from github releases"
Currently only PHAR downloads are supported, which means regular file downloads won't be automatically updated (like https://github.com/jakzal/toolbox/pull/331).

[2021-01-26 09:35] benr77 opened #333 "Rector latest version unlock"
Rector is currently locked to a previous version because of a bug.
https://github.com/jakzal/toolbox/pull/309

It looks as though this bug is now sorted. Additionally, I'm getting a weird issue running rector from the latest `phpqa` which I'm hoping will be fixed by using the latest rector which is now on version 0.9.x (the bug it was locked against was in 0.8.x).

The error I'm getting is

[code]

[2021-01-26 09:44] jakzal commented on #333
Thanks for the nudge :)

Feel free to submit a PR next time!

[2021-01-26 09:50] #333 closed

[2021-01-26 09:54] jakzal commented on #27
As part of splitting tools into smaller groups, I also tagged them with the group name.

I think it's sufficient for current use cases.

Feel free to send PRs to introduce additional tags if needed.

[2021-01-26 09:54] #27 closed

[2021-01-26 10:05] benr77 commented on #333
Thanks for the fast response. I was looking at making a PR but was working out the two repository setup.

Am I right in thinking that I need to

- fork `jakzal/toolbox` and make changes to e.g. the rector version
- clone `jakzal/phpaq` and then get it to use my fork of the toolbox repo
- build phpqa via the Makefile?

It would be good to add this info to the Contributing section on the README

Che

[2021-01-26 10:23] jakzal commented on #333
All you need to do in such a scenario is to send a pull request to `jakzal/toolbox`. It's where tools are managed.

Tests can be run locally with `make test test-integration`, or you can let github actions run them when you submit the PR.

[2021-02-03 17:27] benr77 opened #338 "PHPStan & Symfony version issue???"
Using toolbox 1.39.0 and phpqa 1.49.0 on my Symfony 4.4.19 project.

At the end of every PHPStan analysis I get several errors like this.

[code]

It is complaining about a method signature mismatch between (I think!) my Symfony installation which is being analysed, and `/tools/.composer/vendor-bin/phpstan/vendor/symfony/translation/DependencyInjection/TranslatorPathsPass.php` which appears to be

[2021-02-03 19:39] jakzal commented on #338
PHPStan is installed as a phar. I assume they prefixed the phar so it shouldn't conflict with your project. Perhaps extensions are the problem?

@dkarlovi what do you think?

[2021-02-03 19:50] benr77 commented on #338
Ah I should have checked the PHPStan extensions - I'm using a few.

On one project it seems I can get rid of the errors not by disabling the Symfony extension itself, but by removing the `console_application_loader` config option.

However, on a different project, I'm removing ALL extensions and still getting the following error:

[code]

Any thoughts?
Thanks

[2021-02-04 11:35] dkarlovi commented on #338
There's an issue with PHPStan needing to be installed directly into the project when using extensions. Sadly, currently there doesn't seem to be a way to both use extensions and use PHPStan from a Phar.

Maybe @ondrejmirtes wont mind me spamming too much and just confirm / deny this.

[2021-02-04 11:45] ondrejmirtes commented on #338
I recommend not using `vendor-bin` for PHPStan at all, it's problematic. PHPStan is designed from the ground up to be installed as `require-dev` dependency in your project without any downsides.

What's going on - you have multiple things installed in `vendor-bin`, and they share some dependencies. PHPStan sees those dependencies first before the dependencies of the analysed project. And they're n

[2021-02-04 11:57] jakzal commented on #338
@ondrejmirtes in this case phpstan is installed in its own bin namespace and only shares dependencies with its plugins

[2021-02-04 11:58] ondrejmirtes commented on #338
@jakzal I'm not aware of a plugin that would have `symfony/translation` in the `require` section.

[2021-02-04 11:59] benr77 commented on #338
I have a few more of these error messages that I can paste in if that would be helpful?

[2021-02-04 12:02] jakzal commented on #338
@ondrejmirtes it's the larastan plugin:

[code]

[2021-02-04 12:02] ondrejmirtes commented on #338
I went through this list: https://github.com/jakzal/toolbox/blob/master/resources/phpstan.json

So the cause is probably Larastan which has a huge `require` section: https://github.com/nunomaduro/larastan/blob/master/composer.json

@benr77 I recommend you installing `phpstan/phpstan` directly in your `composer.json`, you will get rid of problems like these.

[2021-02-04 12:06] benr77 commented on #338
Ok, so at least the root cause is now discovered. Thank you both for that.

I've been trying to remove all my coding standards packages from my projects and rely solely on phpqa as it's much easier to deal with that one install.

[2021-02-04 12:10] ondrejmirtes commented on #338
I don't think there's any overhead with dealing with `phpstan/phpstan` separately on its own. You still need to have project-specific `phpstan.neon` anyway, so treating the tool as a first class citizen when it comes to managing upgrades isn't much of a hassle.

[2021-02-04 12:31] benr77 commented on #338
@jakzal Is it possible for me to build a customised phpqa which does not have the larastan extension? I see the instructions on how to make a custom docker build but I guess in this case I need to modify what's coming from the toolbox repo? Or would it just be a case of using the composer-bin-plugin to remove the larastan extension?

[2021-02-04 12:41] jakzal commented on #338
@benr77 can you create a new issue for this use case and we'll discuss it there please?

[2021-02-04 13:10] benr77 opened #339 "PHPStan Larastan extension causes conflict with installed Symfony installation"
As per the discussion here https://github.com/jakzal/toolbox/issues/338 - having the Larastan PHPStan extension as part of the phpqa package causes PHPStan to report errors that are not part of the codebase being analysed.

[2021-02-04 13:10] benr77 commented on #338
Done here https://github.com/jakzal/toolbox/issues/339

[2021-02-04 13:10] #338 closed

[2021-02-05 11:25] jakzal commented on #339
What are our options here?

1. Install PHPStan in your project, instead of using phpqa (that's what phpstan recommends).
2. Extend the phpqa image with additional steps to uninstall unneeded extensions.
3. Use toolbox to create your own custom phpqa image without tools you don't need.
4. Talk to the larastan project to see if they could bump their dependencies.
5. Remove the larastan extension fro

[2021-02-05 12:20] benr77 commented on #339
Option 1 is an easy fix that requires no effort apart from anyone suffering from the same issue as me. But it's going against the reasoning behind using phpqa in the first place (for me at least). I was forever having issues forgetting to upgrade PHPStan, Rector, ECS etc - they all have quite a fast release velocity and if you don't upgrade you spend quite a bit of time investigating issues they r

[2021-02-05 13:06] jakzal commented on #339
Just a note, this is a different problem. Automated updates are possible (like with dependabot on github).

[2021-02-05 13:08] jakzal commented on #339
My worry is, they're a phpstan extension which in my mind should be small, but for some reason it brings loads of dependencies in.

[2021-02-05 13:09] jakzal commented on #339
7. Introduce an additional phpqa image tag with currated list of tools. This would be much smaller set of tools, which are battle tested and approved by the phpqa team. Opinionated.

[2021-02-05 14:17] benr77 commented on #339
Regarding options 2 or 3 - I must admit, the huge list of available tools is enticing at first - I actually found it a good centralised resource of PHP quality tools - regardless of whether I then used the phpqa package. It made me want to explore a lot of them. However, in day to day use I only, so far, use a handful of them. We were talking about the image size the other day when we added `ext-i

[2021-02-12 07:31] benr77 commented on #339
Hi @jakzal - did you have any thoughts on this issue? I'm still in favour of removing the extension and adding a note to the readme or release notes that it can be added back in if needed by Laravel users. Thanks.

[2021-02-12 10:53] jakzal commented on #339
@danielsuguimoto since you're the one that contributed #200, would you mind jumping into the conversation? What I don't understand is why a phptsan extension would need to fetch so many dependencies.

[2021-02-12 17:32] danielsuguimoto commented on #339
Sorry, but I guess @nunomaduro is the best guy to explain how PHPStan really works under the hood

[2021-02-16 12:23] jakzal commented on #339
@nunomaduro For reference, the error @benr77 reported is:

[code]

[2021-02-16 12:24] jakzal commented on #339
@benr77 can you paste output of your `composer show`?

[2021-02-16 14:41] benr77 commented on #339
[code]

[2021-02-17 11:01] hason opened #348 "Add codeception"
https://codeception.com

[2021-02-17 11:11] jakzal commented on #339
Found another solution

8. Isolate larastan #349

[2021-02-17 11:32] benr77 commented on #339
Great solution, but doesn't this create more complexity rather than just taking out the Larastan extension and allowing users to add it back in as required? Or are you keen to not remove a package that's already in the Toolbox?

[2021-02-17 12:27] jakzal commented on #339
I think a tool should only be removed if it hasn't been maintained for a long time or is fundamentally broken/unsuable.

[2021-02-17 12:31] benr77 commented on #339
Ok fair enough. Are you ready to tag a release with this fix? I will test and report back. Thanks

[2021-02-17 12:40] #339 closed

[2021-02-18 01:01] mihai-stancu opened #350 "Installing the PDO extensions"
Hi,

While unit tests should run without a database, integration tests will usually touch the database. In order to run those, installing the pdo extensions would make sense.

Sure, adding every possible extension a project might need will lead to bloat, but pdo_mysql / pdo_pgsql would cover most people's needs.

WDYT?

[2021-02-23 20:21] Pen-y-Fan opened #357 "Check the tools with `exclude-php:8.0` tag"
There are 16 tools with `exclude-php:8.0` tag.

Each repo has been checked, to create this plan

| Name |  Excluded from PHP 8.0 | Comments | Worth a Try?
| :--- | :---------- | :------ | :----
| [analyze](https://github.com/Qafoo/QualityAnalyzer) | &#x274C; | Last PR 4 Dec 2019. Forked project also has no recent activity | &#x274C;
| [box](https://github.com/humbug/box) | &#x274C; |  Add PHP 8 su

[2021-02-23 22:40] Pen-y-Fan commented on #357
Summary:

- 4 passed: box, doctrine-psalm-plugin, php-coupling-detector & rector
- 3 failed: paratest, phpDocumentor & phpinsights

[2021-02-23 22:57] Pen-y-Fan commented on #357
paratest has released v6,2,0, but not as a phar file, possibly it can be installed from the github repo. `composer require --dev brianium/paratest`

phpDocumentor has a **dev-master / 3.0.x-dev** branch with PHP ^8.0

phpinsights has **dev-master** branch with PHP ^8.0

[2021-02-23 23:10] Pen-y-Fan commented on #357
phpunit-7 is available via `composer require sminnee/phpunit` I can't see a phar version.

sminnee is the CEO of Silverstripe, who supply the Silverstripe CMS to the New Zealand government.

[2021-02-24 09:01] jakzal commented on #357
Great work!

[2021-02-24 10:20] jakzal commented on #357
Since newer versions of phpunit are there, I don't think we need to worry about phpunit-7.

[2021-03-13 16:35] mihai-stancu opened #374 "Relative symlinks in TOOLS_TARGET_DIR"
Hi,

I was trying to build an image based on yours using docker multi-stage builds. I wanted to move the tools from `/tools` to somewhere else but their symlinks are full paths and moving them would break the links.

Did you use a full path approach because various tools aren't giving you enough control over the exact symlink?

[2021-03-14 19:05] jakzal commented on #374
The location of symlink is controlled with `--target-dir` toolbox option.

I think @dkarlovi has some experience with moving tools around and/or multistage builds.

[2021-03-15 05:49] mihai-stancu commented on #374
Thank you!

[2021-03-15 05:49] #374 closed

[2021-03-18 21:26] mihai-stancu commented on #330
This works via `phive install nikic/PHP-Fuzzer` (is unsigned).

[2021-03-18 21:27] mihai-stancu commented on #348
I can add it.

[2021-03-18 21:27] mihai-stancu commented on #330
I can add it.

[2021-03-18 21:32] mihai-stancu commented on #348
@jakzal unfortunately codeception won't work with `phive` because they host their phar on their own website without metadata and `phive` can't deduce any version info from it (it's also unsigned).

[2021-03-18 21:35] jakzal commented on #348
@mihai-stancu I guess we'll need to use phar download with this one :)

[2021-03-18 21:51] mihai-stancu commented on #330
@jdreesen I added a PR for `php-fuzzer` but it's based on a branch that adds `phive` which is currently blocked by an external issue.

I'll ping-back here once it's unblocked.

[2021-03-19 10:16] #348 closed

[2021-03-22 10:16] dkarlovi commented on #99
Done in #252.

[2021-03-22 10:16] #99 closed

[2021-03-22 10:16] dkarlovi commented on #235
Done in #252, can close.

[2021-03-22 10:42] #235 closed

[2021-03-23 07:41] #330 closed

[2021-04-14 10:12] jakzal opened #385 "phive fails to install phpbench"
https://github.com/jakzal/toolbox/runs/2339677014?check_suite_focus=true#step:5:350

[code]

/cc @mihai-stancu @dantleech

[2021-04-14 11:43] dantleech commented on #385
i thought i published the key -- but I also thought that PHIVE would not pick up the beta version? https://github.com/phar-io/phive/issues/154 but I'll publish the key shortly anyway.

[2021-04-14 12:00] dantleech commented on #385
I've published _and verified_ the key now, but `phive install phpbench` still installs the `0.16.9` version (the last release without a stability flag and an `.asc`)

[2021-04-14 14:20] jakzal commented on #385
Thanks @dantleech 🍺

Fixed in 4da356378a77547acf2e3d95c8c98badf4a5420b

[2021-04-14 14:20] #385 closed

[2021-05-29 21:33] vikimaf opened #388 "Please update PHP-CS-Fixer to version 3"
https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases

[2021-05-31 09:16] jakzal commented on #388
Feel free to submit a PR. It's a one line change: https://github.com/jakzal/toolbox/blob/master/resources/checkstyle.json#L23

[2021-06-01 08:55] atrakic commented on #332
I wanted to give it a try with latest composer image:

[code]

[2021-06-01 13:48] jakzal commented on #332
@atrakic I'm not sure what you're trying to do.

[2021-06-04 10:34] atrakic commented on #332
@jakzal I have existing symfony project that I mount with `composer:latest` and I was thinking to use your toolbox and to tests stuff with, but it fails

[2021-06-04 10:41] jakzal commented on #332
@atrakic I see, so it's unrelated to the issue you're commenting on. Can you please create a new issue and provide as much detail as you can?

[2021-06-07 06:56] atrakic opened #389 "Cannot run with composer docker image"
I have existing symfony project wanted to give it a try with latest `composer` image:

docker run -it --rm --name my-running-script -v "$PWD":/usr/src/myapp -w /usr/src/myapp composer:latest bash
bash-5.1# php -v
PHP 8.0.6 (cli) (built: May  7 2021 20:48:50) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.6, Copyright (c) Zend Technologies
bash-5.1# curl -s https://api.github.com/repos/jakzal

[2021-06-09 07:17] jakzal commented on #389
The image you use has no gpg installed. You'll need it to run phive, which is used to install a big number of tools.

Check out one of phpqa images for other dependencies you might need:

https://github.com/jakzal/phpqa/blob/caaa720cd3476c436e3e8de01a089f2017d72fac/debian/Dockerfile#L9-L11

https://github.com/jakzal/phpqa/blob/caaa720cd3476c436e3e8de01a089f2017d72fac/alpine/Dockerfile#L9-L11

[2021-06-16 07:10] #389 closed

[2021-06-25 14:57] jakzal opened #390 "Install composer-require-checker from phar when it's released again"
Phar releases are currently broken, so we had to fall back to composer-bin-plugin.

Revert https://github.com/jakzal/toolbox/commit/48bc72a6f4a0542a15480870d0cea4ab179f84f9 once phar releases are brought back.

In case phar support was removed (see https://github.com/maglnet/ComposerRequireChecker/issues/256), close this issue.

[2021-09-06 15:48] #388 closed

[2021-11-30 14:18] jakzal commented on #357
We need to re-evaluate the list. I only quickly looked at a few packages and rebased/merged some PRs.

From what I looked at:
* Let's drop `analyze` as soon as we drop PHP 7.4
* Let's replace https://github.com/JakubOnderka/PHP-Parallel-Lint with https://github.com/php-parallel-lint/PHP-Parallel-Lint

[2021-11-30 14:55] #390 closed

[2021-12-02 09:41] jakzal opened #404 "Drop dunglas/phpdoc-to-typehint"
The [repository](https://github.com/dunglas/phpdoc-to-typehint) has been archived and is no longer maintained:

[2021-12-18 19:19] carlosas commented on #357
@jakzal regarding phpat: PHP 8 compatibility fully released https://github.com/carlosas/phpat/releases/tag/0.8.0 🙂

[2021-12-20 11:02] jakzal commented on #357
Thanks @carlosas

https://github.com/jakzal/toolbox/pull/410

[2021-12-28 13:44] newmedia opened #411 "New twig (3.x) linter"
Is it possible to add this linter?
https://github.com/sserbin/twig-linter

[2021-12-28 18:59] jakzal commented on #411
Sure.

If anyone would like to pick this up, it should be added to https://github.com/jakzal/toolbox/blob/master/resources/checkstyle.json

Since twig-linter's recommended way is to use composer, we should use the composer-bin-plugin installation strategy in toolbox.

[2021-12-29 14:29] newmedia commented on #411
@jakzal i created a pull request! and put it in the linter.json instead of the checkstyle.json

[2021-12-30 22:18] jakzal opened #415 "Declare allow-plugins for each composer plugin installed with toolbox"

[2021-12-31 09:48] Seldaek commented on #415
👍🏻 let me know if I can help

[2022-01-18 19:15] jakzal commented on #411
Fixed by #412 #417

[2022-01-18 19:15] #411 closed

[2022-02-01 10:40] jakzal opened #419 "Unlock larastan version as soon as stable lar***l release is made (revert #418)"
See https://github.com/jakzal/toolbox/pull/418

The latest available ^9 version is still in beta: https://packagist.org/packages/illuminate/console

[2022-02-08 22:07] dgoosens opened #421 "phpstan/extension-installer missing ?"
hi

I must be missing something...
but it appears to me the `phpstan/extension-installer` is missing...

I added `symfony` & `doctrine` params in the `phpstan.neon`

[code]

(as you see, nothing fancy)

but if I invoke

[code]

I get

[code]

I encounter the same problem if I install `phpstan/phpstan`, `phpstan/phpstan-symfony` & `phpstan/phpstan-doctrine`
It only works as expected when I also ins

[2022-02-08 22:39] dgoosens commented on #421
as I said... I was missing something

the procedure was indicated here: <https://github.com/jakzal/phpqa#adding-phpstan-extensions>

Just created a custom Dockerfile

[code]

yet...
I'd argue that this extension should be shipped by default as the container does include the `phpstan-symfony` & `phpstan-doctrine` extensions and they both require the `phpstant/extension-installer`

[2022-02-16 09:28] jakzal commented on #421
@dgoosens do you mind to send a pull request to include the extension installer?

[2022-02-16 09:31] dgoosens commented on #421
sure....
no problem

will do so asap

[2022-04-28 18:57] #421 closed

[2022-05-04 09:23] dkarlovi opened #425 "Updates to Phive-managed tools"
Not sure how exactly this works, but what's the workflow to update Phive based tools?

For example, [most recent Infection is 0.26.8](https://github.com/infection/infection/releases/tag/0.26.8).

Infection in the most recent Docker image `jakzal/phpqa:1.69.3-php8.1-alpine` is 0.21.5. How do those tools get updated?

[2022-05-04 10:11] dkarlovi commented on #425
Note, I've found this:
https://github.com/jakzal/toolbox/blob/e588e21598d51cd51d8649d309b86989f66daedf/resources/test.json#L34-L38

in the meantime, but not sure how exactly it's meant to be updated? Where does the signature and the versions come from?

[2022-05-05 12:54] jakzal commented on #425
Phive should always install the latest. Not sure if we need a restriction here. `^` means something else in pre `1.x` versions.

[2022-05-05 13:14] dkarlovi commented on #425
Maybe a blurb how to do the update for Phive sourced tools might allow some updates to happen.

I agree we should probably allow Phive to install latest by default.

[2022-05-23 10:32] jakzal commented on #425
I have removed most (all? ;) ) of constraints from tools installed with phive now https://github.com/jakzal/toolbox/pull/428

[2022-05-23 10:32] #425 closed

[2022-05-23 10:41] #419 closed

[2022-05-23 10:43] #404 closed

[2022-05-23 11:05] #357 closed

[2022-05-23 21:02] #415 closed

[2022-05-25 09:24] dgoosens opened #436 "impossible to install the phpstan/extension-installer and other plugins"
Since jakzal/phpqa v1.71.0, which implemented the toolbox v 1.61.0 (see <https://github.com/jakzal/phpqa/compare/v1.70.1...v1.71.0>), it appears to be impossible to install the phpstan extension-installer and the depending plugins...

even when allowing the plugins in the Dockerfile

[code]

the build reports:

[code]

as you can see, composer indicates the plugin is blocked.

with v 1.70.1 of php

[2022-05-25 19:25] jakzal commented on #436
related to https://github.com/jakzal/phpqa/issues/349

[2022-05-25 19:56] jakzal commented on #436
@dgoosens notice different syntax in the first example. However, given phpstan is installed with composer bin plugin, I think the second example will work better.

[2022-05-25 21:08] dgoosens commented on #436
hi @jakzal

must have been doing something wrong...
both proposed solutions work now

looks like I wasted your time for nothing
thanks a lot

[2022-05-25 21:08] #436 closed

[2022-07-03 07:50] ciaranmcnulty opened #438 "Generate $PATH"
In the `phpqa` docker build we have to set the path to include e.g. `/QualityAnalyzer/bin`

It'd be good to internalise this to a toolbox command that  echos the new path items so I can do

[code]

[2022-07-03 16:31] ciaranmcnulty opened #439 "Support phive auth file"
You can drop a file into `~/.phive/auth.xml` for things like GitHub tokens

I think because [the phive install happens with `--home`](https://github.com/jakzal/toolbox/blob/0d38a0d73deaed42be6e710292f93e9b28474865/src/Tool/Command/PhiveInstallCommand.php) that this isn't picked up.

It'd be good if that command could optionally symlink the file into the tmp dir

[2022-07-04 21:22] jakzal commented on #438
Yes, I considered it in the past, but it seemed like a lot of effort considering potential benefits.

QualityAnalyzer is the last tool that has to be on the PATH. Given the project is pretty much dead, I think it's time to retire it from the image.

[2022-07-06 11:53] dkarlovi opened #442 "Add gherkin-lint-php"
The tool is very new: https://github.com/dantleech/gherkin-lint-php

I don't know if there's plans for integration with Behat in some way, maybe @ciaranmcnulty knows more? Either way, it would complement current linters nicely.

[2022-07-06 12:09] ciaranmcnulty commented on #442
The parser it's using is _one day_ going to be also used by behat; I don't think we have plans to add a linter

[2022-09-30 10:01] dkarlovi commented on #218
If you think this is a good idea, maybe consider supporting this: https://github.com/composer/composer/issues/11089

[2022-09-30 10:04] jakzal commented on #218
@dkarlovi I suspect composer maintainers want less code to maintain rather than more. That's why the extension system exists :)

[2022-09-30 10:09] dkarlovi commented on #218
Sure, but IMO this seems like a core feature, especially since there's a very similar feature `outdated` AND they themselves implemented the same feature in Private Packagist, they obviously recognize the value here. :angel: